src/*~
src/*.o
src/*.a
src/*.da
src/*.bb
src/*.bbg
src/*.prof
src/.*.swp
src/autom4te.cache
src//config.status
src//dbclient
src/dropbear
src/dropbearconvert
src/dropbearkey
src/dropbearmulti
src/fuzzcorpus
src/fuzzer-*
src/fuzzer-*.options
src/scp
src/scp-progress
srci/Makefile
src/config.h
src/default_options_guard.h
tags
src/config.log
